@import "../../colors.scss";
@import "../../anim.scss";

.process_wrapper {
    background-color: $light--gray;
    position: relative;
    width: 100%;

    .proccess_container--right {
        position: relative;
        box-sizing: border-box;
        display: flex;
        max-width: 640px;

        padding: 80px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        .tag {
            background-color: #e0e0e0;
        }
    }




    h1 {
        color: $black;
        font-family: Nippo;
        font-size: 48px;
        font-weight: 700;

        margin-bottom: 24px;
        z-index: 2;
        position: relative;
    }

    .text {
        color: $black;
        font-size: 20px;
    }


}

.proccess_container--left {
    width: fit-content;
    display: flex;
    flex-shrink: 1;
    margin-bottom: 64px;
    @include smooth;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.proccess_container {
    display: flex;
    flex-direction: row;
}

h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("/src/resources/SpeedArrows.png");
    height: 147px;
    width: 305px;
    opacity: 0.05;
    z-index: 1;
}

.proccess_container--right::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $primary;
    height: 64px;
    width: 427px;
    z-index: 2;
    @include smooth;
}

// .proccess_container:hover {
//     .proccess_container--left {
//         margin-bottom: 0;
//         @include smooth;
//     }


// }

.proccess_container--right:hover::after {

    width: 100%;
    @include smooth;
}


@media screen and (max-width: 1064px) {
    .proccess_container {
        flex-direction: column-reverse;
    }

    .process_wrapper {

        .proccess_container--left,
        .proccess_container--right {

            max-width: unset;
            width: 100%;
        }

        .proccess_container--right {
            padding: 48px;
            padding-bottom: 96px;
        }

    }

    .proccess_container--right::after {
        width: 75%;
        height: 32px;
        @include smooth;
    }
}