@import "../../shadows.scss";
@import "../../colors.scss";
@import "../../anim.scss";

.hamburger__container {
  position: relative;
}

.hamburger {
  font-family: Nippo;
  display: none;
  cursor: pointer;
  color: $white;
  padding: 12px 24px;

  background: $primary;

  align-items: center;
  @include smooth;
}

.hamburger:hover {
  background: $black;
  @include smooth;

  .hamburger__lines-wrapper {
    .line {
      background-color: $white;
    }
  }
}

.hamburger__wrapper {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
  align-items: center;
}

.hamburger__lines-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.line {
  width: 18px;
  height: 2px;
  background-color: $white;
  border-radius: 4px;
}

.hamburger__menu {
  color: $white;
  user-select: none;
  text-align: center;
  font-family: Nippo;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}

.hamburger__dropdown {
  display: none;
  position: absolute;
  top: 50px;
  left: -167px;
  flex-direction: column;
  gap: 42px;
  background: $light--gray;
  padding: 24px;
  border-bottom: 5px solid #dedddd;
}

/* Add any additional styling needed for your navbar */
@media (max-width: 620px) {
  .hamburger {
    display: flex;
  }

  .hamburger__dropdown--active {
    display: flex;
  }

  .navbar__buttons {
    display: none;
  }
}

@media (max-width: 410px) {
  .hamburger {
    padding: 16px 16px;
  }

  .hamburger__dropdown {
    left: -190px;
  }
}