$white: #ffffff;

/* Color styles */
$primary: rgba(20, 46, 58, 1);
$secondary: rgba(250, 206, 145, 1);
$tertiary: rgba(210, 203, 192, 1);
$black: rgba(34, 30, 31, 1);
$grid: rgba(210, 203, 192, 0.10000000149011612);
$white: rgba(255, 255, 255, 1);
$black--outline: rgba(34, 30, 31, 0.15000000596046448);
$light--gray: rgba(246, 247, 250, 1);
$square-card-stroke: rgba(230, 233, 235, 1);
$lighter--black: rgba(98, 95, 96, 1);
$navbar-stroke: #DEDDDD;